body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

.top-container {
  background-color: #b0cac7;
  position: relative;
  padding-top: 100px;
  margin: auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  color: #318fb5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #318fb5;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #005086;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #b0cac7;
}

img {
  border-radius: 100%;
  margin: 20px;
}

.freepik {
  display: none;
}

a {
  color: #005086;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
}

hr {
  border: dotted #005086 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.bed-img {
  width: 25%;
  float: right;
  margin: 0 auto 20px 30px;
}

.deepankar-img {
  width: 25%;
  margin: 0;
}

.profile {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #7CACDE;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;
  border-radius: 8px;
  border: 0px solid #3866A3;
  background: #11CDD4;
  background: linear-gradient(to top, #11CDD4, #11999E);
  margin: auto;
}
.btn:hover {
  color: #14396A !important;
  background: #30E3CB;
  background: linear-gradient(to top, #30E3CB, #2BC4AD);
}

.contact-me{
  margin: 100px auto;
}

